h1{
    color: rgb(17, 156, 43);
    background-color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: #26832a;
    background-color: red;
}

